server:
  port: 4000

spring:
  datasource:
    url: ${SUPABASE_DB_URL:jdbc:postgresql://aws-1-ap-northeast-1.pooler.supabase.com:5432/postgres}
    username: ${SUPABASE_DB_USER:postgres.pxggkbixetylebjbsjjd}
    password: ${SUPABASE_DB_PASSWORD:Samare@1992}
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate.dialect: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true
    open-in-view: false

jwt:
  secret: ${JWT_SECRET:trading-mini-app-demo-with-spring-boot-backend-secret-key}
  expiration-days: 7
